<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.PKGlobal.TestCases.APITestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deletePojoUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewUserWithPOJO</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getUserTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewUserWithDD</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteDDUser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
