<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c6f277">  <td>20/07/07 16:14:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.getData()[pri:0, instance:com.PKGlobal.TestCases.APITestCases@489115ef]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@945722724</td>   <td></td> </tr>
<tr bgcolor="c6f277">  <td>20/07/07 16:14:02</td>   <td>954</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.init()[pri:0, instance:com.PKGlobal.TestCases.APITestCases@489115ef]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@945722724</td>   <td></td> </tr>
<tr bgcolor="c7ffd3">  <td>20/07/07 16:14:02</td>   <td>1748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITestCases.createNewUserWithDD(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.PKGlobal.TestCases.APITestCases@489115ef]">createNewUserWithDD</td> 
  <td>main@945722724</td>   <td></td> </tr>
<tr bgcolor="c7ffd3">  <td>20/07/07 16:15:42</td>   <td>101281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITestCases.createNewUserWithPOJO()[pri:0, instance:com.PKGlobal.TestCases.APITestCases@489115ef]">createNewUserWithPOJO</td> 
  <td>main@945722724</td>   <td></td> </tr>
<tr bgcolor="c7ffd3">  <td>20/07/07 16:15:56</td>   <td>114906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITestCases.deleteDDUser()[pri:0, instance:com.PKGlobal.TestCases.APITestCases@489115ef]">deleteDDUser</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="c7ffd3">  <td>20/07/07 16:15:56</td>   <td>114918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITestCases.getUserTest()[pri:0, instance:com.PKGlobal.TestCases.APITestCases@489115ef]">getUserTest</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="c7ffd3">  <td>20/07/07 16:15:56</td>   <td>114926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITestCases.deletePojoUser()[pri:0, instance:com.PKGlobal.TestCases.APITestCases@489115ef]">deletePojoUser</td> 
  <td></td>   <td></td> </tr>
</table>
